.alert {
	color: red;
}
.normal {
	color: black;
}
.container {
    display: block;
    padding-left: 50px;
}

.chart {
    width: 100%;
    float: left;
    margin-left: -150px;
}

.chartKey {
    width: 50px;
    float: left;
}

.line {
	fill: none;
	stroke-width: 2px;
	visibility: visible;
}